/* Start.css */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("1.png");
  background-size: cover;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

h1 {
  margin-top: -70px;
  margin-bottom: 0px;
  font-family: revert;
  font-size: 100px;
  height: 125px;
}

p {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: -10px;
  font-family: monospace;
  font-weight: 900;
}

.get-started-container {
  margin-top: 20px;
}

.get-started {
  display: inline-block;
  margin: 0px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  border: 0;
  vertical-align: middle; /* Adjust the vertical-align property */
}


.get-started:hover {
  background-color: #414243;
}
